In [1]:
import pandas as pd

In [2]:
df_orders = pd.read_csv('capstone_dataset/orders_dataset.csv')

df_orders.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [3]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [4]:
#no customer_id has multiple order_id

df_orders[df_orders.groupby('customer_id')['order_id'].transform('nunique') > 1]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [5]:
df_orders_clean = df_orders[df_orders['order_status'] == 'delivered']

In [6]:
df_orders_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96478 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96478 non-null  object
 1   customer_id                    96478 non-null  object
 2   order_status                   96478 non-null  object
 3   order_purchase_timestamp       96478 non-null  object
 4   order_approved_at              96464 non-null  object
 5   order_delivered_carrier_date   96476 non-null  object
 6   order_delivered_customer_date  96470 non-null  object
 7   order_estimated_delivery_date  96478 non-null  object
dtypes: object(8)
memory usage: 6.6+ MB

In [7]:
df_payments = pd.read_csv('capstone_dataset/order_payments_dataset.csv')

df_payments.head(1)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33

In [8]:
df_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [9]:
order_totals = df_payments.groupby('order_id')['payment_value'].sum()

order_totals.head(1)

order_id
00010242fe8c5a6d1ba2dd792cb16214    72.19
Name: payment_value, dtype: float64

In [10]:
order_totals.info()

<class 'pandas.core.series.Series'>
Index: 99440 entries, 00010242fe8c5a6d1ba2dd792cb16214 to fffe41c64501cc87c801fd61db3f6244
Series name: payment_value
Non-Null Count  Dtype
--------------  -----
99440 non-null  float64
dtypes: float64(1)
memory usage: 1.5+ MB

In [11]:
df_merged = pd.merge(df_orders_clean, order_totals, on='order_id', how='left')

df_merged.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,38.71

In [12]:
print(f"Orders before merge: {len(df_orders)}")
print(f"Rows after merge: {len(df_merged)}")
print(f"Unique orders after merge: {df_merged['order_id'].nunique()}")

Orders before merge: 99441
Rows after merge: 96478
Unique orders after merge: 96478

In [13]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96478 entries, 0 to 96477
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96478 non-null  object
 1   customer_id                    96478 non-null  object
 2   order_status                   96478 non-null  object
 3   order_purchase_timestamp       96478 non-null  object
 4   order_approved_at              96464 non-null  object
 5   order_delivered_carrier_date   96476 non-null  object
 6   order_delivered_customer_date  96470 non-null  object
 7   order_estimated_delivery_date  96478 non-null  object
 8   payment_value                  96477 non-null  float64
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

In [14]:
#view of payment_value on rows with "Nan"

df_merged.loc[df_merged.isnull().any(axis=1),'payment_value']

2921     134.83
5171     349.01
16098    396.86
18494     65.52
20021    354.24
21999    106.81
22478     95.76
26014     54.51
29811       NaN
37158    163.43
38171     39.95
42530    158.07
46957     60.42
59912    154.23
61162     77.06
65678    127.04
70259    157.19
71047    193.98
76909    158.07
80392    204.62
82453    106.81
89883    194.00
94731    120.12
95117     54.97
Name: payment_value, dtype: float64

In [15]:
df_merged.describe()

       payment_value
count   96477.000000
mean      159.856357
std       218.813144
min         9.590000
25%        61.880000
50%       105.280000
75%       176.330000
max     13664.080000

In [16]:
#drop/delete ko nalang yung may mga "Nan",more than 20 rows lang naman at di naman nagkakalayo sa mean yung payment_value kaya di naman pasok as "Big Spender" 
#so reliable pa din ang data

df_merged = df_merged.dropna(axis=0)

df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96454 entries, 0 to 96477
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96454 non-null  object
 1   customer_id                    96454 non-null  object
 2   order_status                   96454 non-null  object
 3   order_purchase_timestamp       96454 non-null  object
 4   order_approved_at              96454 non-null  object
 5   order_delivered_carrier_date   96454 non-null  object
 6   order_delivered_customer_date  96454 non-null  object
 7   order_estimated_delivery_date  96454 non-null  object
 8   payment_value                  96454 non-null  float64
dtypes: float64(1), object(8)
memory usage: 7.4+ MB

In [17]:
df_merged[['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']] = df_merged[['order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']].apply(pd.to_datetime)

In [18]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 96454 entries, 0 to 96477
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       96454 non-null  object
 1   customer_id                    96454 non-null  object
 2   order_status                   96454 non-null  object
 3   order_purchase_timestamp       96454 non-null  datetime64[ns]
 4   order_approved_at              96454 non-null  datetime64[ns]
 5   order_delivered_carrier_date   96454 non-null  datetime64[ns]
 6   order_delivered_customer_date  96454 non-null  datetime64[ns]
 7   order_estimated_delivery_date  96454 non-null  datetime64[ns]
 8   payment_value                  96454 non-null  float64
dtypes: datetime64[ns](5), float64(1), object(3)
memory usage: 7.4+ MB

In [19]:
df_merged.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,38.71
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,141.46
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,179.12
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,72.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,28.62

In [24]:
#Define analysis date (max date + 1 day)
analysis_date = df_merged['order_purchase_timestamp'].max() + pd.Timedelta(days=1)

In [42]:
#Calculate RFM at customer level
rfm = df_merged.groupby('customer_id').agg({
    'order_purchase_timestamp' : lambda x: (analysis_date - x.max()).days,
    'order_id' : 'count',
    'payment_value' : 'sum'
})

rfm.columns = ['Recency', 'Frequency','Monetary']

In [43]:
#Recency: lower days = better score
rfm['R_Score'] = pd.cut(
    rfm['Recency'],
    bins=[-1, 30, 90, 180, 365, float('inf')],
    labels=[5, 4, 3, 2, 1]
)

In [44]:
#Frequency: Higher = better score
rfm['F_Score'] = pd.cut(
    rfm['Frequency'],
    bins=[0, 1, 3, 6, 10, float('inf')],
    labels=[1, 2, 3, 4, 5]
)

In [45]:
#Monetary: Higher = better score
rfm['M_Score'] = pd.cut(
    rfm['Monetary'],
    bins=[0, 1000, 3000, 6000, 10000, float('inf')],
    labels=[1, 2, 3, 4, 5]
)

In [46]:
rfm.head()

,Recency,Frequency,Monetary,R_Score,F_Score,M_Score
customer_id,,,,,,
00012a2ce6f8dcda20d059ce98491703,288,1,114.74,2,1,1
000161a058600d5901f007fab4c27140,410,1,67.41,1,1,1
0001fd6190edaaf884bcaf3d49edf079,548,1,195.42,1,1,1
0002414f95344307404f0ace7a26f1d5,379,1,179.35,1,1,1
000379cdec625522490c315e70c7a9fb,150,1,107.01,3,1,1

In [ ]:
def segment_customer(row):
    r = row['R_Score']
    f = row['F_Score']
    m = row['M_Score']

    #Champions: High on all three
    if r >= 4 and f >= 4 and m >= 4:
        return 'Champions'

    #Loyal: High fequency, decent recency
    if r >= 3 and f >= 4:
        return 'Loyal Customers'

    #At Risk: Used to be good
    if r <= 2 and (f >= 3 or m >= 3):
        return 'At Risk'

    #New Customers: Recent but low frequency
    if r >= 4 and f <= 2:
        return 'New Customers'

    #Lost: Low on everything
    if r <= 2 and f <= 2 and m <= 2:
        return 'Lost'

    #Big Spenders: High value, low frequency
    if  f <= 2 and m >= 4:
        return 'Big Spenders'

    else:
        return 'Needs Attention'